System Information For Hostname: {{ inventory_hostname }}

Distribution: {{ ansible_distribution }}
Distribution Release: {{ ansible_distribution_release }}
Distribution Version: {{ ansible_distribution_version }}
IP Address: {{ ansible_default_ipv4.address }}
DNS Server(s): {{ ansible_dns.nameservers|join (" ") }}
Kernel: {{ ansible_kernel }}
{% if ansible_lsb is defined %}
LSB: {{ ansible_lsb.description }}
{% endif %}
Memory Installed: {{ (ansible_memtotal_mb / 1024) | round(1) }}GB
Memory Swapfile: {{ (ansible_swaptotal_mb / 1024) | round(1) }}GB
